.backlink {
  border-radius: 50px;
  background-color: #E45858;
  text-align: center;
  height: 40px;
  width: 150px;
  border: none;
  color: whitesmoke;
}

.addlink {
  border-radius: 50px;
  background-color: #E45858;
  text-align: center;
  height: 40px;
  width: 180px;
  border: none;
  color: whitesmoke;
}
