<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn-s-www.dna.fr/images/F4DF4BAD-CB21-48AE-9194-AB48B38DC069/NW_raw/l-entreprise-produit-plus-de-1-500-voitures-par-an-l-alpina-b7-photo-alpina-1566916739.jpg);">
  <div class="container">
    <h1>Louez une Voiture!</h1>
    <p> Et profitez du voyage !</p>
  </div>
</div>

<div class="container list">
  <div class="container">
    <br>
    <br>
    <h1>Nos Voitures</h1>
  </div>
  <br>
    <ul>
      <div class="lists-car">
        <% @cars.each do |car| %>
          <li>
            <div class="card-category card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('2ch.jpg') %>)">
              <h2 class="categorie"><%= link_to car.brand, car, class: 'car-name' %> </h2>
              <p class="price"><%= car.price %> €/jour</p>
          </li>
        <% end  %>
      </div>
    </ul>
</div>
